.banner-promocional {
    grid-area: banner;
    background: url('../img/Hero-pq.svg') no-repeat center center;
    background-size: cover;
    height: 192px;
    color: var(--fonte-banner);
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: grid;
    align-items: flex-end;
}

.banner-promocional .banner-info {
    display: grid;
    row-gap: 8px;
}

.banner-promocional .banner-info .banner-info__titulo {
    font-size: 22px;
    font-weight: 700;
}

.banner-promocional .banner-info .banner-info__descricao {
    font-size: 14px;
    font-weight: 600;
}

.banner-promocional .banner-info__btn {
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 600;
    color: var(--fonte-banner);
    background-color: var(--botao);
    justify-self: start;
}

@media screen and (min-width: 768px) {
    .banner-promocional {
        background: url('../img/Hero-md.svg') no-repeat center center;
    background-size: cover;
    padding: 32px;
    height: 352px;
    }

    .banner-promocional .banner-info .banner-info__titulo {
        font-size: 52px;
    }

    .banner-promocional .banner-info .banner-info__descricao {
        font-size: 22px;
        font-weight: 700;
    }
}