.secao-produtos {
    grid-area: produto;
    padding: 32px;
    background-color: var(--bg-footer);
}

.secao-produtos .produtos {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 16px;
}

.secao-produtos .produtos .produtos__topo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.secao-produtos .produtos .produtos__titulo {
    font-size: 22px;
    font-weight: 700;
    color: var(--texto);
}

.secao-produtos .produtos .btn {
    padding: 12px 16px;
    background-color: var(--botao);
    align-self: flex-start;
    color: var(--branco);
    font-size: 14px;
    font-weight: 600;
}

.secao-produtos .produtos .produtos-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.secao-produtos .produtos .produtos-lista .produto {
    width: 100%;
    position: relative;
}

.secao-produtos .produtos .produtos-lista .produto::before {
    content: url('../img/lixeira.svg') url('../img/editar.svg');
    display: flex;
    position: absolute;
    right: 0;
    top: 8px;
}

.secao-produtos .produtos .produtos-lista .produto img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .secao-produtos .produtos .produtos-lista {
        grid-template-columns: repeat(4, 1fr);
    }

    .secao-produtos .produtos .produtos__topo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1440px) {
    .secao-produtos .produtos .produtos-lista {
        grid-template-columns: repeat(6, 1fr);
    }

    .secao-produtos .produtos .btn {
        padding: 16px;
    }
}