@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

@import url('../css/cabecalho.css');
@import url('../css/banner.css');
@import url('../css/produto.css');
@import url('../css/rodape.css');
@import url('../css/login.css');
@import url('../css/page-produto.css');
@import url('../css/page-adicionar-produto.css');

body {
    font-family: var(--fonte);
    display: grid;
    grid-template-areas: 
    'cabecalho cabecalho cabecalho'
    'login login login'
    'banner banner banner'
    'produto produto produto'
    'rodape rodape rodape'
    ;
}